.venv/
venv/
env/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
.env


models/*
!models/.gitkeep

outputs/*
!outputs/.gitkeep
*.keras
*.h5
*.weights.h5
*.7z
*.zip
